/* 
    --bg-color: #18181b; 
    --text-color: #e0e0e0;
    --primary-color: #1e1e1e; 
    --card-bg: #1e1e1e;
*/

header {
    background-color: var(--primary-color);
    height: auto;
    padding-block: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 0px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
}

.header-img {
    align-items: center;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-content-text h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--text-color);
}

.header-content-text h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    color: var(--text-color-secondary);
    margin-top: -10px;
}

.header-content-text p {
    font-size: 1.22rem;
    color: var(--text-color);
}

/* Links projetos e contato */
.header-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 25px;
}

.link-header {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    padding: .9rem 2rem;
    border-radius: 8px;
    font-weight: 500;
    color: var(--text-color);
}

.link-view-projects {
    background-color: var(--btn-color);
    transition: background-color 0.3s ease-in-out;
}

.link-view-projects:hover {
    background-color: var(--btn-hover);
}

.link-contact {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
    transition: background-color 0.3s ease-in-out;
}

.link-contact:hover {
    background-color: var(--btn-hover-secondary);
}