@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('./header.css');
@import url('./sections.css');

/* :root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --primary-color: #6200ee;
    --secondary-color: #03dac6;
    --card-bg: #f5f5f5;
} */

.dark-mode {
    --bg-color: #09090b;
    --primary-color: #191B20;
    --text-color: #d5d4d4;
    --text-color-secondary: #ffffff93;
    --btn-color: #155dfb;
    --btn-hover: #0b48a4;
    --btn-hover-secondary: #c3c3c342;
    --shadow-color: rgba(195, 195, 195, 0.3);
    --card-color: #1e2939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    padding: 30px 20px;
}