/* Estilos medium */

@media (min-width: 768px) and (orientation: portrait) {

    /* Header */
    .box-img-header {
        height: 500px;
        width: 500px;
    }

    .header-content-text h1 {
        font-size: 3.5rem;
    }

    .header-content-text h2 {
        font-size: 2.3rem;
        margin-bottom: 15px;
    }

    .header-content-text p {
        font-size: 1.5rem;
    }

    .header-links {
        flex-direction: row;
        justify-content: start;
    }

    .header-links a:first-child {
        order: 2;
    }

    .header-links a:first-child {
        order: 1;
    }

    /* Section Sobre mim */
    .about-me-content h2 {
        font-size: 2rem;
    }

    .about-me-content p {
        font-size: 1.5rem;
    }

    .about-me-skills-container h3 {
        font-size: 1.5rem;
    }

    .link-read-more-about {
        align-self: flex-start;
        margin-bottom: 30px;
        font-weight: bold;
    }

    /* Section Projetos */
    .projects-wrapper h2 {
        font-size: 2rem;
    }

    .project-title {
        font-size: 2rem;
    }

    .project-description {
        font-size: 1.6rem;
    }

    .svg-icon-skill {
        width: 2rem;
        height: 2rem;
    }

    /* experiencia e certificações */
    .certifications {
        margin-top: 25px;
    }

    .social-media h2,
    .contact-form h2 {
        font-size: 1.9rem;
    }

    .social-icons {
        gap: 10px;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(1fr);
    }

    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        grid-column: 1/2;
    }

    .contact-form {
        grid-column: 2/3;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .box-img-header {
        width: 570px;
        height: 500px;
    }

    .header-content-text h1 {
        font-size: 3rem;
    }

    .header-content-text p {
        font-size: 1.6rem;
    }

    .header-links {
        flex-direction: row;
        justify-content: start;
    }

    .header-links a:first-child {
        order: 2;
    }

    .header-links a:first-child {
        order: 1;
    }

    .certifications {
        margin-top: 25px;
    }

    .link-read-more-about {
        align-self: flex-start;
        margin-bottom: 30px;
        font-weight: bold;
    }

    .project-card {
        width: 550px;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(1fr);
    }

    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        grid-column: 1/2;
    }

    .contact-form {
        grid-column: 2/3;
    }
}

/* 


@media (min-width: 1200px) {}


*/