/* Estilos medium */

@media (min-width: 768px) and (orientation: portrait) {

    /* Header */
    .box-img-header {
        height: 500px;
        width: 500px;
    }

    .header-content-text h1 {
        font-size: 3.5rem;
    }

    .header-content-text h2 {
        font-size: 2.3rem;
        margin-bottom: 15px;
    }

    .header-content-text p {
        font-size: 1.5rem;
    }

    .header-links {
        flex-direction: row;
        justify-content: start;
    }

    .header-links a:first-child {
        order: 2;
    }

    .header-links a:first-child {
        order: 1;
    }

    /* Section Sobre mim */
    .about-me-content h2 {
        font-size: 2rem;
    }

    .about-me-content p {
        font-size: 1.5rem;
    }

    .about-me-skills-container h3 {
        font-size: 1.5rem;
    }

    /* Section Projetos */
    .projects-wrapper h2 {
        font-size: 2rem;
    }

    .project-card {
        min-width: 550px;
    }

    .project-title {
        font-size: 2rem;
    }

    .project-description {
        font-size: 1.6rem;
    }

    .svg-icon-skill {
        width: 2rem;
        height: 2rem;
    }

    /* experiencia e certificações */
    .certifications {
        margin-top: 25px;
    }

    .social-media h2,
    .contact-form h2 {
        font-size: 1.9rem;
    }

    .social-icons {
        gap: 10px;
    }
}



@media (min-width: 768px) and (orientation: landscape) {
    .box-img-header {
        width: 570px;
        height: 500px;
    }

    .header-content-text h1 {
        font-size: 3rem;
    }
    .header-content-text p {
        font-size: 1.6rem;
    }
    .header-links {
        flex-direction: row;
        justify-content: start;
    }

    .header-links a:first-child {
        order: 2;
    }

    .header-links a:first-child {
        order: 1;
    }
}

/* 
 Tablets e desktops em landscape 
@media (min-width: 768px) and (orientation: landscape) {}

 Telas grandes 

@media (min-width: 1200px) {}


*/