/* Estilização do conteúdo Header */
header {
    background-color: var(--bg-color);
}

.header-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin-inline: auto;
    padding-top: 5rem;
}

.container-img-perfil {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    order: 2;
    width: 40%;
}

.img-perfil {
    border-radius: 50%;
    filter: drop-shadow(0 0 6px rgba(127, 90, 240, 0.1));
    max-width: 400px;
    margin-left: 30px;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
    order: 1;
    width: 40%;
}

.name-dev {
    font-size: 3.5rem;
    font-weight: 600;
}

.function-dev {
    color: var(--text-color-secondary);
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: -20px;
    margin-bottom: 20px;
}

.description-dev {
    color: var(--text-color-secondary);
}

.header-content-buttons {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
}

.button-project-header {
    background-color: var(--btn-color);
    transition: background-color .4s ease-in-out;
}

.button-project-header:hover {
    background-color: var(--btn-hover);
}

.button-contact-header {
    font-size: 1.1rem;
    transition: color .3s ease-in-out;
}

.button-contact-header:hover {
    color: var(--btn-color);
}

.button-header {
    color: var(--text-color);
    text-decoration: none;
    padding: .3rem 1rem;
    font-weight: 600;
    border-radius: 10px;
}


/* Estilização da seção sobre-mim e Projetos */
.about-project {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-inline: auto;
    margin-bottom: 20px;
    width: 90%;
}

/* Container Sobre-mim */

.container-about {
    width: 50%;
    border: 1px solid red;
}

.content-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}

.title-about {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.9rem;
}

.description-about {
    color: var(--text-color-secondary);
}

.button-more-about {
    color: var(--btn-color);
    text-decoration: none;
    margin-top: 2px;
    font-weight: bold;
}

.button-more-about:hover {
    color: var(--btn-hover);
    transition: color .3s ease-in-out;
}

.title-technologies {
    font-weight: 600;
    margin-bottom: 20px;
}

.container-icon-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.span-icon {
    background-color: var(--icon-color);
    padding: .2rem .4rem;
    border-radius: 3px;
    font-size: .7rem;
}

.span-icon:hover {
    background-color: var(--icon-hover);
    color: var(--btn-color);
    cursor: pointer;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

/* Container Projetos */

.container-project {
    border: 1px solid red;
    padding: 20px;
    width: 50%;
}
.h2-my-project {
    margin-bottom: 20px;
}
.carousel {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    margin-inline: auto;
    width: 85%;
}
.carousel-card {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px
}
.carousel-card:hover {
    border: 1px solid rgba(127, 90, 240, 0.4);
    transition: border .3s ease-in-out;
    cursor: pointer;
}
.card-img {
    border-radius: 5px;
    width: 100%;
}