@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Import Styles */
@import url('./index.css'); /* Estilo principal - Desktop */

:root {
    --bg-color: rgb(25, 27, 32);
    --text-color: rgb(213, 212, 212);
    --text-color-secondary: rgba(255, 255, 255, 0.576);
    --btn-color: rgb(127, 90, 240);
    --btn-hover: rgba(127, 90, 240, 0.514);
    --icon-color: rgba(86, 85, 85, 0.425);
    --icon-hover: rgba(86, 85, 85, 0.199);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}